/node_modules
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea
src/config/user
sea-assets
/build
.vscode/*
.vs
dist
out
/scripts/image.bmp
/scripts/commandcam.exe
/scripts/commandcam.obj
/scripts/qedit.tlh

# SEA (Single Executable Application) build artifacts
*.exe
sea-prep.blob
