name: pr

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  jest:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn nest
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn nest
  linux:
    runs-on: ubuntu-24.04
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Cache APT Packages
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          key: apt-cache-${{ runner.os }}-${{ hashFiles('.github/workflows/pr.yaml') }}
          restore-keys: |
            apt-cache-${{ runner.os }}-

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libv4l-dev

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn

      - name: Install yarn deps
        run: yarn install --frozen-lockfile

      - name: Build native .node modules
        run: yarn cmake

  win32:
    runs-on: windows-2022
    permissions: write-all
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn

      - name: Install yarn deps
        run: yarn install --frozen-lockfile

      - name: Build native .node modules
        run: yarn cmake